In [1]:
#ques1 List Comprehensions

if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if i+j+k!=n])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [3]:
#ques2 Find the Runner-Up Score!

if __name__ == '__main__':
    n=int(input())
    s=input()
    li=s.split(' ')
    li=list(set(li))
    li=list(map(int,li))
    li.sort()
    l=len(li)
    print(li[l-2])

5
2 3 6 6 5
5

In [7]:
#ques3 Nested ListsAk

if __name__ == '__main__':
        n=int(input())
        l1=[]
        l2=[]
        for i in range(n):
            l1.append(input())
            l2.append(float(input()))
        x=min(l2)
        l3=[i for i in(l2) if i!=x]
        x=min(l3)
        l4=[l1[j] for j in range(n) if x==l2[j]]
        n=len(l4)
        l4.sort()
        for i in range(n):
            print('output:',l4[i])

5
harry
37.21
berry
37.21
tina
37.2
akriti
41
harsh
39
output: berry
output: harry

In [8]:
#ques 4 finding the percentage
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    marks = student_marks[query_name]
    avg=sum(marks)/(len(marks))
    print("{0:.2f}".format(avg))

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

In [10]:
#ques 5 Lists
if __name__ == '__main__':
    N = int(input())
    oper = []
    for i in range(0,N):
        ch = input().split()
        if ch[0] == "insert":
            oper.insert(int(ch[1]),int(ch[2]))
        elif ch[0] == "print":
            print(oper)
        elif ch[0] == "remove":
            oper.remove(int(ch[1]))
        elif ch[0] == "append":
            oper.append(int(ch[1]))
        elif ch[0] == "sort":
            oper.sort()
        elif ch[0] == "pop":
            oper.pop()
        elif ch[0] == "reverse":
            oper.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [15]:
#ques 6 Tuple
if __name__ == '__main__':
    n = int(input())
     
    integer_list = input().split()
    for i in range(n):
        integer_list[i]= int(integer_list[i])
        
    tuple_list=tuple(integer_list)
    print(hash(tuple_list))

2
1 2
3713081631934410656

In [17]:
#ques 7 Introduction to sets
def average(array):
    s=set(array)
    output= sum(s)/len(s)
    return output

In [18]:
array=[161,182,161,154,176,170,167,171,170,174]
average(array)

169.375

In [21]:
#ques 8 symmetric difference
n=int(input())
a1 =set(map(int,input().split()))
m=int(input())
b1=set(map(int,input().split()))

first_diff=a1.difference(b1)
second_diff=b1.difference(a1)

output=sorted(second_diff.union(first_diff))
print("output:")
for i in output:
    print(i)

4
2 4 5 9
4
2 4 11 12
output:
5
9
11
12

In [22]:
#ques 9 Set.add()
n=int(input())
stamp=set()
for i in range(n):
    country=input()
    stamp.add(country)
print(len(stamp))

7
UK
China
France
New Zealand
UK
France
USA
5

In [24]:
#ques10 Set .discard(), .remove() & .pop()
n = int(input())
s = set(map(int, input().split()))
N=int(input())

for i in range(N):
    operation= input().split()
    if(operation[0]=="remove" or operation[0]=="Remove"):
        s.remove(int(operation[1]))
    elif(operation[0]=="discard" or operation[0]=="Discard"):
        s.discard(int(operation[1]))
    elif(operation[0]=="pop" or operation[0]=="Pop"):
        s.pop()
    
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

In [27]:
#ques11 Set.union()
n=input()
rollE = set(map(int, input().split(' ')))
m= input()
rollF = set(map(int, input().split(' ')))
print('output:', len(rollE.union(rollF)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
output: 13

In [29]:
#ques 12 Set .intersection() Operation
n=input()
rollE = set(map(int, input().split(' ')))
m= input()
rollF = set(map(int, input().split(' ')))
print('output:', len(rollE.intersection(rollF)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
output: 5

In [31]:
#ques 13 Set .difference() Operation
n=int(input())
a1 =set(map(int,input().split()))
m=int(input())
b1 =set(map(int,input().split()))

output=a1.difference(b1)
print("output:", len(output))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
output: 4

In [33]:
#ques 14 Set .symmetric_difference() Operation
n=int(input())
a1 =set(map(int,input().split()))
m=int(input())
b1 =set(map(int,input().split()))
output=a1.symmetric_difference(b1)
print("output:", len(output))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
output: 8

In [34]:
#ques 15 Set Mutations
n=int(input())
A=set(map(int,input().split(" ")))
N=int(input())
for i in range(N):
    x,y=input().split(" ")
    s1=set(map(int,input().split(" ")))
    if x=="update":
        A.update(s1)
    elif x=="difference_update":
        A.difference_update(s1)
    elif x=="intersection_update":
        A.intersection_update(s1)
    else:
        A.symmetric_difference_update(s1)
print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
updare 2
55 66
symmetric_differece_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [35]:
#ques 16 The Captain's Room
from collections import Counter
K = int(input())
list1 = list(map(int, input().split()))
counts = Counter(list1)
s1 = set(list1)
for i in s1:
    if counts.get(i) is 1:
        print(i)

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

In [37]:
#ques 17 Check Subset
for i in range(int(input())):
    n = int(input()); 
    s1 = set(input().split()) 
    m = int(input()); 
    s2 = set(input().split())
    subset=s1.intersection(s2)
    if(subset==s1):
        print("True")
    else:
        print("False")

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

In [38]:
#ques 18 Check strict Subset
A=set(map(int,input().split()))
n=int(input())
count=0
for i in range(n):
    s1=set(map(int,input().split()))
    if s1<A:
        count+=1
if count==n:
    print(True)
else:
    print(False)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

In [40]:
#ques 19 No Idea
n, m = input().split()
arr = input().split()
A = set(input().split())
B = set(input().split())
sum=0;
for i in arr:
    if i in A:
       sum+=1;
    elif i in B:
        sum=sum-1;
        
print("happiness score: ", sum)

3 2
1 5 3
3 1
5 7
happiness score:  1