# INNOMATICS_INTERNSHIP_APR_21

### **TASK 1**

In [2]:
#Ques1

print("Hello, I am Data Science Intern at INNOMATICS RESEARCH LAB")

Hello, I am Data Science Intern at INNOMATICS RESEARCH LAB

In [5]:
#Ques2
n = int(input())
if(n%2!=0):
  print('Weird')
elif(n%2==0 and 2<=n<=5):
  print('Not Weird')
elif(n%2==0 and 6<=n<=20):
  print('Weird')
elif(n>20):
  print('Not Weird')

6
Weird

Here 6 is in the inclusive range of 6 and 20 and is an even number. Hence it prints Weird.

In [12]:
#Ques3
a = int(input())
b = int(input())
print('Sum of',a,'and',b, 'is:',a+b)
print('Subtraction of',a,'and',b, 'is:',a-b)
print('Multiplication of',a,'and',b, 'is:',a*b)

4
5
Sum of 4 and 5 is: 9
Subtraction of 4 and 5 is: -1
Multiplication of 4 and 5 is: 20

In [14]:
#Ques4
a = int(input())
b = int(input())
print('Integer division is: ', a//b)
print('Float division is: ', a/b)

5
4
Integer division is:  1
Float division is:  1.25

In [17]:
#Ques5
n = int(input())
print('Square Of Number from 0 to',n,'is:')
for i in range(n):
  print(i,'*',i,'=',i**2)

5
Square Of Number from 0 to 5 is:
0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16

In [18]:
#Ques6
n = int(input())
for i in range(n):
  print(i+1, end="")

6
123456

In [20]:
#Ques7
def is_leap(year):
    leap = False
    if(year%4==0):
        if(year%100!=0 or year%400==0):
                leap=True  
    return leap
year = int(input())
print(is_leap(year))

2020
True